node_modules
!src/node_modules

.vscode
.DS_Store
.prettierrc.yml

src/benchmarking/*
!src/benchmarking/config.yml
!src/benchmarking/README.md
!src/benchmarking/queries
!src/benchmarking/parsedResults